<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e269a8">  <td>18/10/22 10:52:54</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/22 10:52:55</td>   <td>511</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/22 10:52:55</td>   <td>511</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/22 10:52:55</td>   <td>818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/22 10:53:01</td>   <td>7298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">loginAndLogout</td> 
  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/22 10:53:03</td>   <td>9094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/22 10:53:04</td>   <td>9705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/22 10:53:10</td>   <td>15507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">loginAndLogout</td> 
  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/22 10:53:12</td>   <td>17451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/22 10:53:12</td>   <td>18057</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
</table>
