<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e269a8">  <td>18/10/23 10:30:12</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/23 10:30:13</td>   <td>1172</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginAndLogout.setData()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/23 10:30:13</td>   <td>1187</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/23 10:30:14</td>   <td>2231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/23 10:30:22</td>   <td>10044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">loginAndLogout</td> 
  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/23 10:30:25</td>   <td>12797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/23 10:30:26</td>   <td>13436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/23 10:30:31</td>   <td>19296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogout.loginAndLogout(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">loginAndLogout</td> 
  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/23 10:30:34</td>   <td>21977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
<tr bgcolor="e269a8">  <td>18/10/23 10:30:35</td>   <td>22733</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC001_LoginAndLogout@5f9d02cb]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841283083</td>   <td></td> </tr>
</table>
